image: docker:latest

variables:
  DOCKER_TLS_CERTDIR: "/certs"


services:
    - docker:dind

stages:
    - build

before_script:
  - echo $CI_REGISTRY_IMAGE
  - echo CI_BUILD_REF_NAME
  - apk add --no-cache py-pip
  - pip install docker-compose
  - docker info
  - docker-compose --version
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

build:
  stage: build
  variables:
    POSTGRES_DB: $DB_NAME
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
  script:
    - cp .env.sample .env
#    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - docker-compose up -d
#    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
#    - docker push $CI_REGISTRY_IMAGE:latest
  tags:
    - deployment