image: docker:stable

variables:
  DOCKER_TLS_CERTDIR: "/certs"

services:
    - docker:stable-dind

stages:
    - build

before_script:
  - docker info
  - docker-compose --version


build:
  stage: build
  script:
    - docker build .
  tags:
    - deployment