image: docker:latest

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

services:
    - docker:dind

stages:
    - build
    - test

before_script:
  - apk add --no-cache py-pip
  - pip install docker-compose
  - docker info
  - docker-compose --version
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

build:
  stage: build
  variables:
    POSTGRES_DB: $DB_NAME
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
  script:
    - cp .env.sample .env
    - docker-compose build --build-arg BUILDKIT_INLINE_CACHE=1
  after_script:
    - docker-compose push ${CI_REGISTRY_IMAGE}:latest
  tags:
    - deployment

test:
  stage: test
  script:
    - docker-compose pull ${CI_REGISTRY_IMAGE}:latest
    - docker-compose run test
  tags:
    - deployment