image: docker:latest
services:
    - docker:dind

variables:
  DOCKER_HOST: tcp://docker:2375/

stages:
    - build

before_script:
  - docker info
  - docker-compose --version


build:
  stage: build
  script:
    - docker-compose build
  tags:
    - deployment