image: docker:latest
#image: docker/compose:2.11.2

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

services:
    - docker:dind

stages:
    - build
    - test

before_script:
  - apk add --no-cache py-pip
  - pip install docker-compose
  - docker info
  - docker-compose --version
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - cp .env.sample .env

build:
  stage: build
  variables:
    POSTGRES_DB: $DB_NAME
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
  script:
#    - docker-compose build --build-arg BUILDKIT_INLINE_CACHE=1
#    - docker-compose push $CI_REGISTRY_IMAGE:latest
    - docker-compose pull || true
    - docker-compose build --build-arg BUILDKIT_INLINE_CACHE=1
    - docker-compose push web

  tags:
    - deployment

test:
  stage: test
  script:
#    - docker-compose pull $CI_REGISTRY_IMAGE:latest
#    - docker-compose run test
    - docker-compose pull
    - docker-compose up -d
    - docker-compose run test

  tags:
    - deployment