variables:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_HOST: "tcp://docker:2375"
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2
stages:
    - deploy

deploy:
  image: docker/compose:latest
  stage: deploy
  variables:
    DOCKER_HOST: "unix:///var/run/docker.sock"
  before_script:
    - docker info
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - cp .env.sample .env
  script:
    - docker-compose pull
    - docker-compose up -d
  tags:
    - deployment