variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

stages:
    - build
    - test
    - deploy

build:
  image: docker/compose:latest
  stage: build
  services:
    - docker:20.10.12-dind
  tags:
    - deployment
  variables:
    POSTGRES_DB: $DB_NAME
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
  before_script:
    - docker version
    - docker-compose version
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - cp .env.sample .env
    - docker-compose build --build-arg BUILDKIT_INLINE_CACHE=1
    - docker-compose push web

test:
  stage: test
  script:
    - docker-compose pull
    - docker-compose run test

  tags:
    - deployment


deploy:
  stage: deploy
  script:
    - docker-compose pull
    - docker-compose up -d
  tags:
    - deployment